<div class="well">
  <h1>{{title}}</h1>
  <a href="{{url}}">{{url}}</a>
  <h2>Children: {{children.length}}</h2>
  <ul>
    {{#each child in children}}
      <li>{{#link-to 'nav_items.nav_item' child}}{{child.title}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>
